{% extends 'base.html' %}

{% block body %}
<section class="hero is-info is-medium">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Get summary of all the govt. circulars that relates to you.
      </h1>
      <div class="field has-addons">
         <div class="control">
           <input class="input" type="text" placeholder="Find a circular">
         </div>
         <div class="control">
           <a class="button is-warning">Search</a>
         </div>
      </div>
      <h2 class="subtitle"> Enter a keyword or the category you want to know about. </h2>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <h2 class="subtitle">Latest Updates</h2>
    <div class="columns">
      <div class="column"> <div class="box">update</div> </div>
      <div class="column"> <div class="box">update</div> </div>
      <div class="column"> <div class="box">update</div> </div>
      <div class="column"> <div class="box">update</div> </div>
      <div class="column"> <div class="box">update</div> </div>
    </div>
  </div>
</section>

{% endblock %}
